// Place all the styles related to the chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

*{
	box-sizing: border-box;
}
body{
	margin: 0 33px;
}
nav{
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
	div:first-of-type{
		height: 10vh;
		display: flex;
		align-items: center;
		h1{
			font-size: 3rem;
		}
	}
	div:last-of-type{
		span{
			font-size: 1.5rem;
		}
	}
}


.floating{
	position: fixed;
	bottom: 0px;
	left: 20px;
	// font-size: 4rem;
	// border-radius: 1000px;
	// // background: gray;
	// // border: 3px solid #101010;
	// height: 70px;
	// width: 70px;
	// display: flex;
	// justify-content: center;
	// align-items: center;
	// svg{
	// 	height: 70px;
	// 	width: 70px;
	// }
}


a{
	text-decoration: none;

}
