<nav>
	<div class="">
		<h1>
			<%= link_to "סטטיסטיקות", root_path %>
		</h1>
	</div>
	<div class="">
		<% if cookies[:chats].present? %>
			<% JSON.parse(cookies[:chats]).each do |id| %>
				<% chat = Chat.find(id) %>
				<span>
					<%= link_to chat.title, chat %>
				</span>
			<% end %>
		<% end %>
	</div>
</nav>

<!-- <div class="floating"> -->
	<%= link_to root_path, class: "floating" do %>
	 	<svg width="70" height="70" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
			<path d="M11.5 0c6.347 0 11.5 5.153 11.5 11.5s-5.153 11.5-11.5 11.5-11.5-5.153-11.5-11.5 5.153-11.5 11.5-11.5zm0 1c5.795 0 10.5 4.705 10.5 10.5s-4.705 10.5-10.5 10.5-10.5-4.705-10.5-10.5 4.705-10.5 10.5-10.5zm.5 10h6v1h-6v6h-1v-6h-6v-1h6v-6h1v6z"/>
		</svg>
	<% end %>
<!-- </div> -->
